.default-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.row-button {
  width: 50px;
  height: 25px;
  row-gap: 5px;
  border: none;
  background-color: #faf9fd;
}

.row-button:hover {
  background-color: #005cbb;
}
