<div>
    <div *ngFor="let row of rows; let rowIndex = index" class="circles-row">
        <div *ngFor="let col of cols; let colIndex = index" style="display: inline-block; margin: 0;">
            <app-circle [backgroundColor]="'white'"></app-circle>
        </div>
    </div>
    <div class="buttons-row">
        <button (click)="onButtonClick(0)" class="row-button"></button>
        <button (click)="onButtonClick(1)" class="row-button"></button>
        <button (click)="onButtonClick(2)" class="row-button"></button>
        <button (click)="onButtonClick(3)" class="row-button"></button>
        <button (click)="onButtonClick(4)" class="row-button"></button>
        <button (click)="onButtonClick(5)" class="row-button"></button>
        <button (click)="onButtonClick(6)" class="row-button"></button>
    </div>
</div>
